.footerContainer {
  padding-top: 50px;
  padding-bottom: 20px;
  color: white;

  .platterLogoStyling {
    width: 200px;
    height: 60px;
    margin-left: -20px;
    object-fit: contain;
    margin-bottom: 15px;
  }

  .footerSubtext {
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
  }

  .socialIcons {
    cursor: pointer;
  }

  .footerTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .footerLink {
    display: block;
    color: white;
    margin-bottom: 10px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .footerCopy {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
  }
}
