.comingSoonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  padding: 20px;
}

.comingSoonTitle {
  font-size: 6rem;
  color: var(--brand-red); /* Using a CSS variable for brand red */
  font-family: var(--font-playfair-display), serif; /* Using Playfair Display font */
  margin-bottom: 20px;
  line-height: 1.2;

  @media (max-width: 768px) {
    font-size: 3rem;
  }
}

.downloadText {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  font-family: var(--font-dm-sans), sans-serif;
}

.orderText {
  font-size: 1rem;
  color: #666;
  font-family: var(--font-dm-sans), sans-serif;
}

.appImage {
  width: 200px;
  height: 40%;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 120px;
  }
}
