.featureCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    margin: 0 auto;
  }
}

.imageWrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 50px; /* Adjusted for a more rounded look */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.featureImage {
  width: 100%;
  height: 280px;
  object-fit: cover;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.35);
  }
}

.featureTitle {
  color: #333;
  font-size: 1.125rem;
  line-height: 1.5;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}
