.heroSection {
  background-color: var(--brand-bg);
  min-height: calc(100vh - 80px);
  width: 100%;
  position: relative;
  overflow: hidden;

  @media (max-width: 768px) {
    min-height: auto;
  }
}

.heroTitle {
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--font-playfair-display), serif;
  color: var(--text-color-dark);
  line-height: 1.2;

  @media (max-width: 768px) {
    font-size: 2.5rem;
    text-align: center;
  }
}

.heroText {
  font-size: 1.1rem;
  color: #555;
  max-width: 400px;
  line-height: 1.6;

  @media (max-width: 768px) {
    text-align: center;
    margin: 0 auto;
  }
}

.ctaButton {
  width: fit-content;
  padding: 0 2rem;
  height: 50px;

  @media (max-width: 768px) {
    margin: 0 auto;
  }
}

.heroImageContainer {
  position: relative;
  width: 100%;
  max-width: 500px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/food-icons-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
    z-index: 0;
  }
}

.heroImage {
  position: relative;
  z-index: 1;
}
