.newsletterContainer {
  //
  border-radius: 16px;
  padding: 40px;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 20px;
  }
}

.newsletterContent {
  flex: 1;
  max-width: 50%;

  @media (max-width: 768px) {
    max-width: 100%;
    text-align: center;
  }
}

.newsletterTitle {
  font-family: var(--font-playfair-display), serif;
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-color-dark);
  line-height: 1.2;

  @media (max-width: 768px) {
    font-size: 2.25rem;
  }

  @media (max-width: 480px) {
    font-size: 1.875rem;
  }
}

.newsletterDescription {
  font-family: var(--font-dm-sans), sans-serif;
  font-size: 1.125rem;
  line-height: 1.8;
  color: #333;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.subscribeForm {
  display: flex;
  gap: 10px;
  width: 100%;
}

.emailInput {
  flex: 1;
  .mantine-TextInput-input {
    border-color: #ccc;
    &:focus-within {
      border-color: var(--brand-red);
    }
  }
}

.subscribeButton {
  background-color: var(--brand-red);
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 12px 32px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: (var(--brand-red));
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }

  @media (max-width: 768px) {
    font-size: 1rem;
    padding: 10px 28px;
  }
}

.riderContainer {
  flex: 1;
  max-width: 40%;
  background-color: #fff2df;
  border-radius: 16px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    max-width: 100%;
    padding: 20px;
  }
}

.riderContent {
  text-align: center;
  gap: 15px;
}

.riderTitle {
  font-family: var(--font-playfair-display), serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color-dark);
  line-height: 1.2;

  @media (max-width: 768px) {
    font-size: 1.75rem;
  }
}

.riderImage {
  max-width: 150px;
  height: auto;
  margin: 0 auto;
}

.riderButton {
  background-color: var(--brand-red);
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 12px 32px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: (var(--brand-red));
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }

  @media (max-width: 768px) {
    font-size: 1rem;
    padding: 10px 28px;
  }
}
